<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'chess.jpg'%> )">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Code Recon</h1>
                    <hr class="small">
                    <span class="subheading">A Frontline Programming Report</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="post-preview">
                <%= link_to page_path('post_7') do %>
                    <h2 class="post-title">
                        License Plate Visual Pattern Recognition
                    </h2>
                    <h3 class="post-subtitle">
                        OpenALPR; The Basics
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on May 17h, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to page_path('post_7') do %>
                    <h2 class="post-title">
                        Live Force Graphing with D3
                    </h2>
                    <h3 class="post-subtitle">
                        Further Extending the WUDS Project
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on May 11th, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to page_path('post_6') do %>
                    <h2 class="post-title">
                        Live Update CSV data to a Broswer with D3.js
                    </h2>
                    <h3 class="post-subtitle">
                        Extending the WUDS Project
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on May 6th, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to page_path('post_5') do %>
                    <h2 class="post-title">
                        Deploying Rails to AWS 
                    </h2>
                    <h3 class="post-subtitle">
                        Nginx, Passenger and Log Files
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on April 16, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to page_path('post_4') do %>
                    <h2 class="post-title">
                        Configure Raspberry Pi to text you when the snail mail arrives
                    </h2>
                    <h3 class="post-subtitle">
                        Making use of plaintext WiFi AP requests
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on April 16, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to page_path('post_3') do %>
                    <h2 class="post-title">
                        Continual learning with i3  and vim
                    </h2>
		    <h3 class="post-subtitle">
			Drying up programming workflow day by day
		    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on April 18, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to page_path('post_2') do %>
                    <h2 class="post-title">
                        Writing a Windows .exe with a Linux mindset
                    </h2>
                    <h3 class="post-subtitle">
                        Two gems: Ocra for executables. Shoes for GUIs
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on April 18, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <%= link_to page_path('post_1') do %>
                    <h2 class="post-title">
                        Mk II has arrived
                    </h2>
                    <h3 class="post-subtitle">
                        A concise explanation of site redesign
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <a href="#">Kyle White</a> on April 18, 2016</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <!--<li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
